*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #3c3c3c;
  --white: #ffffff;
  --accent: #16db99;
  --accent-light: #ecfdf5;
  --accent-dark: #065f46;
  --grey-dark: #757575;
  --grey-light: #dedede;
}

html,
body {
  margin: 0;
  font-family: 'Smythe', system-ui;
  background: var(--grey-light);
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2,
h3,
h4 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
}

header p {
  font-size: 1.4rem;
}

/* BUTTONS */
button {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  padding: 1.2em;
  color: var(--white);
  background: var(--accent);
  border: none;
  border-radius: 3px;
}

.item-add-btn {
  font-family: 'Inter', sans-serif;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  margin-left: auto; /* Pushes the button to the right */
  color: var(--grey-dark);
  background: var(--white);
  border-radius: 50%;
  border: 2px solid var(--grey-light);
  cursor: pointer;
}

.remove-btn {
  font-size: 0.75rem;
  color: var(--grey-light);
  background: var(--white);
}

.item-add-btn,
.remove-btn {
  padding: 0;
}

/* LAYOUT */
.page-wrapper {
  max-width: 600px;
  margin: 2em auto;
  background: var(--white);
}

header {
  padding: 3em;
  background-image: url('assets/american-hamburger.jpg');
  background-size: cover;
  background-position: right 0 top 210px;
  color: var(--white);
  /* opacity: 0.8; Adjust opacity level */
}

ul {
  padding: 0;
  list-style: none;
}

/* MENU LAYOUT */
.menu-container,
.order-container {
  padding: 2.5em;
}

.menu-item {
  padding: 1.5em 0;
  display: flex;
  gap: 1em;
  border-bottom: 2px solid var(--grey-light);
  align-items: center; /* Vertically centers the content */
}

.item-image {
  font-size: 60px;
  margin: 0;
}

.item-description,
.remove-btn {
  text-align: left;
}

.item-ingredients {
  color: var(--grey-dark);
}

.item-price,
.price {
  font-size: 1.25rem;
}

/* ORDER LAYOUT */
.order-container {
  padding-top: 0;
  text-align: center;
}

.order-item,
.order-item p,
.order-total {
  display: flex;
}

.order {
  margin: 2.3em auto 0 auto;
  text-align: center;
}

.order-item {
  border-bottom: 2px solid var(--grey-dark);
  align-items: center;
  gap: 1em;
}

.order-item .price {
  margin-left: auto;
}

.order-total {
  margin: 0.5em auto 2em auto;
  justify-content: space-between;
}

/* MODAL */
.modal {
  /* display: none; */
  font-family: 'Inter', sans-serif;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 1.2em;
  max-width: 520px;
  max-height: 420px;
  border-radius: 5px;
  box-shadow: 0px 0px 70px 30px var(--grey-dark);
  background: var(--white);
  color: var(--grey-dark);
}

.modal-title {
  font-size: 1.5rem;
  padding: 1.5em;
  color: var(--black);
}

.modal-inner {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.flex-row {
  display: flex;
  gap: 2em;
}

input {
  width: 100%;
  padding: 1em;
}

.modal-btn {
  margin: 2.5em 0;
}
